<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="BSG"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Broadcast Service Group ||| Meeting all of your technical production needs</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/normalize.min.css">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="js/slippry/dist/slippry.css">
        <link rel="stylesheet" href="css/main.css">


        <!--[if lt IE 9]>
            <script src="js/vendor/html5-3.6-respond-1.1.0.min.js"></script>
        <![endif]-->
    </head>
    <body ng-controller='mainCtrl'>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="header-container" >

          <header class="wrapper clearfix">
                <div class="top-header"><span>6052 Turkey Lake Rd., Ste. 100 • Orlando, FL 32819 • Phone: (407) 903-9993 • Fax: (407) 903-9998</span></div>
                <div class="menu-wrapper">
                    <div class="logo-container">
                        <img class="logo" src="img/icons/BSG_logo.svg" alt="">
                    </div>
                    <nav>
                        <ul>
                            <li><a href="#">Contact<img src="img/line.png" alt=""></a></li>
                            <li><a href="#">Forms<img src="img/line.png" alt=""></a></li>                        
                            <li><a href="#">Clients<img src="img/line.png" alt=""></a></li>                            
                            <li><a href="#">What we do<img src="img/line.png" alt=""></a></li>                            
                            <li><a href="#">Services<img src="img/line.png" alt=""></a></li>                            
                            <li><a href="#">About<img src="img/line.png" alt=""></a></li>

                        </ul>
                    </nav>
                </div>
            </header>

        </div>

        <section id="slides" ng-controller="videoCtrl">
          <div data-video>
                  <span data-close ng-click='destroy()' title="Close">X</span>
                  <div data-video-wrap>
                  </div>
             </div>
            <article>
                <img src="img/HomeBanner/JPGs_withoutOverlay/BSG_slide_1.jpg" alt="">


                <div class="over"></div>
                <div class="text-slide">
                    <h2>We meet all of your production needs.</h2>
                    <p>
                    We provide Broadcast & Video Production Services Worldwide Including:
                    Turn Key packaging of Multi-Camera Remote Productions, HD, SD, and 3D Mobile Video Production Trucks,
                    Qualified Television & Event Production Crews Nationwide, ENG Packages Nationwide, Satellite Transmission Services, 
                    Webcasting and Video Streaming of Live Events and Conferences
                    </p>
                    <a href="" ng-click="load()" title="" target="_blank">Watch out demo reel <i class="fa fa-play-circle-o"></i></a>
                </div>
            </article>
            <article>
                <img src="img/HomeBanner/JPGs_withoutOverlay/BSG_slide_2.jpg" alt="">
                <div class="over"></div>
                <div class="text-slide">
                    <h2>We meet all of your production needs.</h2>
                    <p>
                    We provide Broadcast & Video Production Services Worldwide Including:
                    Turn Key packaging of Multi-Camera Remote Productions, HD, SD, and 3D Mobile Video Production Trucks,
                    Qualified Television & Event Production Crews Nationwide, ENG Packages Nationwide, Satellite Transmission Services, 
                    Webcasting and Video Streaming of Live Events and Conferences
                    </p>
                    <a href="" ng-click="load()" title="" target="_blank">Watch out demo reel <i class="fa fa-play-circle-o"></i></a>
                </div>
            </article>
            <article>
                <img src="img/HomeBanner/JPGs_withoutOverlay/BSG_slide_3.jpg" alt="">
                <div class="over"></div>
                <div class="text-slide">
                    <h2>We meet all of your production needs.</h2>
                    <p>
                    We provide Broadcast & Video Production Services Worldwide Including:
                    Turn Key packaging of Multi-Camera Remote Productions, HD, SD, and 3D Mobile Video Production Trucks,
                    Qualified Television & Event Production Crews Nationwide, ENG Packages Nationwide, Satellite Transmission Services, 
                    Webcasting and Video Streaming of Live Events and Conferences
                    </p>
                    <a href="" ng-click="load()" title="" target="_blank">Watch out demo reel <i class="fa fa-play-circle-o"></i></a>
                </div>
            </article>
            <article>
                <img src="img/HomeBanner/JPGs_withoutOverlay/BSG_slide_4.jpg" alt="">
                <div class="over"></div>
                <div class="text-slide">
                    <h2>We meet all of your production needs.</h2>
                    <p>
                    We provide Broadcast & Video Production Services Worldwide Including:
                    Turn Key packaging of Multi-Camera Remote Productions, HD, SD, and 3D Mobile Video Production Trucks,
                    Qualified Television & Event Production Crews Nationwide, ENG Packages Nationwide, Satellite Transmission Services, 
                    Webcasting and Video Streaming of Live Events and Conferences
                    </p>
                    <a href="" ng-click="load()" title="" target="_blank">Watch out demo reel <i class="fa fa-play-circle-o"></i></a>
                </div>
            </article>
            <article>
                <img src="img/HomeBanner/JPGs_withoutOverlay/BSG_slide_5.jpg" alt="">
                <div class="over"></div>
                <div class="text-slide">
                    <h2>We meet all of your production needs.</h2>
                    <p>
                    We provide Broadcast & Video Production Services Worldwide Including:
                    Turn Key packaging of Multi-Camera Remote Productions, HD, SD, and 3D Mobile Video Production Trucks,
                    Qualified Television & Event Production Crews Nationwide, ENG Packages Nationwide, Satellite Transmission Services, 
                    Webcasting and Video Streaming of Live Events and Conferences
                    </p>
                    <a href="" ng-click="load()" title="" target="_blank">Watch out demo reel <i class="fa fa-play-circle-o"></i></a>
                </div>
            </article>
        </section>
        <section class="map" >

            <div  style="height:500px;width:100%" >

            </div>


            <div class="layer">
                <h2>Broadcasting Across the world </h2>
                <h3>in 10,000 countries and counting.</h3>
                <p>
                Let us be your "go to" for broadcasting services.  We strive to be the best with 
                85 years experience in the industry.  Call us today:  (407) 903-9993.  </p>

            </div>
        </section>
        <section class="testimonials">
            <div class="next"> &#9654;</div><div class="prev">&#9664;</div>
            <div class="container-slides" id="testimonials">
                <article>
                    <h2>
                        <img class="quotes" src="img/quotes1.png" alt="">
                        Broadcast Service Group is our “Go To” guys for Rooms to Go
                        We’ve been using BSG for the last 20 years.
                        <img class="quotes" src="img/quotes2.png" alt="">

                    </h2>
                    <div class="more">
                    <br>
                        <p>Buford Jerome Willis Stinkleburger III - RTG CFO</p>
                        <br>
                        <br>
                        <a href="#" class="button">Click here to see more satisfied clients</a>
                    </div>
                </article>
                <article>
                    <h2>
                        <img class="quotes" src="img/quotes1.png" alt="">
                        Broadcast Service Group is our “Go To” guys for Rooms to Go
                        We’ve been using BSG for the last 20 years.
                        <img class="quotes" src="img/quotes2.png" alt="">

                    </h2>
                    <div class="more">
                    <br>
                        <p>Buford Jerome Willis Stinkleburger III - RTG CFO</p>
                        <br>
                        <br>
                        <a href="#" class="button">Click here to see more satisfied clients</a>
                    </div>
                </article>
                <article>
                    <h2>
                        <img class="quotes" src="img/quotes1.png" alt="">
                        Broadcast Service Group is our “Go To” guys for Rooms to Go
                        We’ve been using BSG for the last 20 years.
                        <img class="quotes" src="img/quotes2.png" alt="">

                    </h2>
                    <div class="more">
                    <br>
                        <p>Buford Jerome Willis Stinkleburger III - RTG CFO</p>
                        <br>
                        <br>
                        <a href="#" class="button">Click here to see more satisfied clients</a>
                    </div>
                </article>
                <article>
                    <h2>
                        <img class="quotes" src="img/quotes1.png" alt="">
                        Broadcast Service Group is our “Go To” guys for Rooms to Go
                        We’ve been using BSG for the last 20 years.
                        <img class="quotes" src="img/quotes2.png" alt="">

                    </h2>
                    <div class="more">
                    <br>
                        <p>Buford Jerome Willis Stinkleburger III - RTG CFO</p>
                        <br>
                        <br>
                        <a href="#" class="button">Click here to see more satisfied clients</a>
                    </div>
                </article>
            </div>  
        </section>
        <section id="our_services" class="our-services">
        <br>
            <h2>Our Services</h2>
        <h4>We provide broadcast and video production services worldwide including:</h4><br>
            <div class="services-container">
                <div class="service">
                    <h3><img src="img/icons/TurnKeyPackaging.svg" class="align-left" alt=""><span>Turn Key packaging of Multi-Camera Remote Productions</span></h3>
                    <p>
                        Turnkey packaging is an ideal solution for 
                        packaging your product from its most basic components. 
                        From concept to completion, we will provide 
                        all the raw materials, assembly, packaging and shipping 
                        necessary to produce your product – all under one roof.
                    </p>
                </div>
                <div class="service center-service">
                    <h3><img src="img/icons/HD_SD_3D.svg" class="align-left" alt=""><span>HD, SD, and 3D Mobile Video Production Trucks</span></h3>
                    <p>
                        HD 3 is a large truck in a small package. It’s a 53ft straight unit built specifically for challenging, tight spaces and regional sporting events. It packs a lot of high-end HD firepower and operator comfort into an efficiently designed smaller footprint.
                    </p>
                </div>
                <div class="service">
                    <h3><img src="img/icons/QTV_EPCN.svg" class="align-left" alt=""><span>Qualified Television and Event Production Crews Nationwide</span></h3>
                    <p>A television director is usually responsible for directing the actors and other filmed aspecst of a television production. The role differs from that of a film director because the major creative control usually belongs to the producer. In general, actors and other regular artists. 

                    </p>
                </div>
                <div class="service">
                    <h3><img src="img/icons/ENG_PKG.svg" class="align-left" alt=""><span>ENG Packages Nationwide</span></h3>
                    <p>
                        Engineers develop packages from a wide variety of rigid and flexible materials. Some materials have scores or creases to allow controlled folding into package shapes (sometimes resembling origami[3]). Packaging involves extrusion, thermoforming, molding and other hamsters.
                    </p>
                </div>
                <div class="service center-service">
                    <h3><img src="img/icons/STS.svg" class="align-left" alt=""><span>Satellite Transmission Services</span></h3>
                    <p>Typically a satellite truck will have its own on-board power source such as an electrical generator or inverter to create the alternating current to power all the transmission systems, which makes it a true independent mobile satellite transmission entity. Often such trucks also.

                    </p>
                </div>
                <div class="service">
                    <h3><img src="img/icons/WVSLEC.svg" class="align-left" alt=""><span>Webcasting and Video Streaming of Live Events and Conferences</span></h3>
                    <p>BSG delivers unrivaled video conferencing software and services to make webcasting and virtual presentations easier to execute. Improve user engagement and better connect with your target audience.  

                    </p>
                </div>
                
        <br>
        <br>

            </div>
        </section>
        <section id="ORBITeR" class="ORBITeR">
        <br>

            <div class="ORBITeR-container">
                <div>
                    <h3>We are now the <b>exclusive</b> rental house 
                    for Orbiter low profile camera platforms 
                    in the United States.</h3> 
                    <p>
                    The Orbiter 500 superflat is a low profile camera seat and has been designed 
                    for all low shooting camera positions at outdoor broadcasts such as soccer, 
                    tennis or athletics but also for studio use.  We currently have the 500 Superflats, 
                    and will have the new 750 Hybrids at the end of the year.
                    <br><br>
                    For more about the Orbiter 500 Superflat >>> <a href="" title="Download adobe PDF here">Download Adobe PDF here</a><br>
                    For more about the Orbiter 750 Hybrid >>> <a href="" title="Download adobe PDF here">Download Adobe PDF here</a>
                    </p>
                </div>
                <div>
                    <iframe src="//player.vimeo.com/video/65007913?title=0&amp;byline=0&amp;portrait=0" width="500" height="250" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
            </div>
        <br>

        </section>
        <section id="brands" class="brands">
        <br>

            <div>
                <h3>World Brands Are Some of<br>
                <span>Our Satisfied Clients</span></h3>
                <p>
                We have built a solid reputation in the Broadcasting industry and are honored <br>to 
                have worked for some of the best in the industry.  Below is a list of a few of our clients.
                </p>
            </div>
            <div class="brands-container" ng-controller='brandsCtrl' ng-init='load()'>
                <ul class="brands-items">

             <li id="{{brand.id}}" ng-repeat='brand in brands'> <img src='{{path}}/img/uploads/{{brand.image}}' alt=''></li>
                    
                </ul>
            </div>
        <br>
        <br>

        </section>

        <div class="img-holder" data-image="img/HomeBanner/JPGs_withoutOverlay/BSG_Forms.jpg" style="height:190px"></div>
        <section id="forms_section" class="forms-section" style="background:black">
    
                    <div class="forms-section-container">
                <div class="top-forms">
                    <div>
                    <h3>Are you currently working with us?
                        <span>You can find all necessary forms here.</span>
                    </h3>
                    <a href="javascript:void(0)" id="forms">Click here for forms</a>
                    </div>
                </div>
                    <div id="container_forms">
                        <a href="PDF_Forms/I9-2014.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> I9-2014.pdf </a>
                        <a href="PDF_Forms/PayrollSouthTimeSheet.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> PayrollSouthTimeSheet.pdf</a>
                        <a href="PDF_Forms/W9-2014.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> W9-2014.pdf  </a>
                        <a href="PDF_Forms/Payroll Form-1099.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Payroll Form-1099.pdf</a>
                        <a href="PDF_Forms/W4-2014.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> W4-2014.pdf</a>
                    </div>
    </div>
    </section>

        <section id="forms_section" class="forms-section">
                    <div class="forms-section-container">


                <div class="form">
        <br>
        <br>

                    <h3>Get in Touch<br><br>
                    <span>Contact Us Today</span></h3>
                    <br>                    
                    <h4>We would like to hear from you.</h4>
                    <br>                    
                    <br>

                    <div>
                        <form action="">
                            <div><input type="text" name="name" id="name" placeholder="Name*" required></div>
                            <div><input type="email" name="email" id="email" placeholder="eMail*" required></div>
                            <div><input type="text" name="subject" id="subject" placeholder="Subject*" required></div>
                            <textarea name="message" id="message" cols="30" rows="10" placeholder="Your message*"></textarea>
                            <div style="text-align:right">
                                <button type="submit">SEND MESSAGE</button>
                            </div>
                        </form>
                        <div class="info">
                            <h3>Broadcast 
                            Service Group </h3>
                                
                            <p class="pp">
                            <i class="fa fa-map-marker"></i>  &nbsp;6052 Turkey Lake Road,<br> 
                            Suite 100  <br>
                            Orlando, FL 32819
                            </p> 
                            <p>
                            <i class="fa fa-phone"></i> Phone: <a href="tel: +1 (407) 903-9993">(407) 903-9993</a>  <br>
                            <i class="fa fa-fax"></i> Fax: <a href="tel:+1 (407) 903-9998">(407) 903-9998</a><br>
                            <i class="fa fa-envelope"></i> production@broadcastservicegroup.com 
                            </p>
                        </div>
                    </div>
                </div>
        <br>
        <br>

                <div class="iframe-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3507.123637498553!2d-81.475572!3d28.475822999999995!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88e77f21d9377c81%3A0x83b71bd3f8f3e3f7!2s6052+Turkey+Lake+Rd+%23100%2C+Orlando%2C+FL+32819%2C+EE.+UU.!5e0!3m2!1ses-419!2s!4v1417869199731" width="100%" height="450" frameborder="0" style="border:0"></iframe>
                </div>
            </div>
        </section>
        <footer class="wrapper">
            <h5>Copyright © 2015 Broadcast Service Group. All Rights Reserved.</h5>
        </footer>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="js/jquery.imageScroll.min.js"></script>

        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.1.min.js"><\/script>')</script>
        <!-- // <script type="text/javascript" src="js/widget/lib/jquery-1.7.1.js"></script> -->
        
        <script src="js/slippry/dist/slippry.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

        <script type="text/javascript">

        </script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
        <script src="libs/angular/angular.js"></script>
        <script src="libs/ui-router/release/angular-ui-router.js"></script>
        <script src="js/main.js"></script>

    </body>
</html>


