	<ul><!--
			--><li><a ng-href="#/brands"><i class="fa fa-star"></i> <span class="visible-lg-inline">Brands</span></a></li><!--
			--><li><a ng-href="#/user"><i class="fa fa-user"></i> <span class="visible-lg-inline">User</span></a></li><!--
			--><li><a ng-href="#/company"><i class="fa fa-building"></i> <span class="visible-lg-inline">Company Info</span></a></li><!--
			--><li><a ng-href="#/logout"><i class="fa fa-sign-out"></i> <span class="visible-lg-inline">Logout</span></a></li><!--
		--></ul>