
          <header class="wrapper clearfix" ng-controller="companyCtrl" ng-init="load()">
                <div class="top-header" ng-cloak><span>{{company.info.location.address.street}}., Ste. {{company.info.location.street.suite}} • {{company.info.location.state.toUpperCase()}}, FL {{company.info.location.city}} • Phone: {{company.info.tel}} • Fax: {{company.info.fax}}</span></div>
                <div class="menu-wrapper">
                    <div class="logo-container">
                        <img class="logo" src="img/icons/BSG_logo.svg" alt="">
                    </div>
                    <nav>
                        <ul>
                            <li><a href="#">Contact<img src="img/line.png" alt=""></a></li>
                            <li><a href="#">Forms<img src="img/line.png" alt=""></a></li>                        
                            <li><a href="#">Clients<img src="img/line.png" alt=""></a></li>                            
                            <li><a href="#">What we do<img src="img/line.png" alt=""></a></li>                            
                            <li><a href="#">Services<img src="img/line.png" alt=""></a></li>                            
                            <li><a href="#">About<img src="img/line.png" alt=""></a></li>

                        </ul>
                    </nav>
                </div>
            </header>