  <header class="wrapper clearfix">
                <div class="top-header"><span>6052 Turkey Lake Rd., Ste. 100 • Orlando, FL 32819 • Phone: (407) 903-9993 • Fax: (407) 903-9998</span></div>
                <div class="menu-wrapper">
                    <div class="logo-container">
                        <img class="logo" src="img/icons/BSG_logo.svg" alt="">
                    </div>
                    <nav>
                        <ul>
                            <li><a href="#">About<img src="img/line.png" alt=""></a></li>
                            <li><a href="#">Services<img src="img/line.png" alt=""></a></li>
                            <li><a href="#">What we do<img src="img/line.png" alt=""></a></li>
                            <li><a href="#">Clients<img src="img/line.png" alt=""></a></li>
                            <li><a href="#">Forms<img src="img/line.png" alt=""></a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </header>