<div class="brands" ng-init="load()">
	<!-- <img src="../img/icons/BSG_logo.svg" alt=""> -->
	<div class="menu" ng-include src="'views/common/menu.html'">
	</div>
	<div class="form-new">
		<h2>Update Company info <i class="fa fa-star"></i></h2>
		<form id="new_brand" name="new_brand" method="put" ng-submit="update()">

			<label ><b>Company Info.</b></label>
           <br>

			<label for="name">Company name:</label>
			<input type="text" name="name" id="name" ng-keydown="showButton=true" ng-model="company.name" placeholder="Brand name..." required>
				<label for="fullname">Company full name:</label>
			<input type="text" name="fullname"  ng-keydown="showButton=true" ng-model="company.info.full_name" placeholder="Brand name..." required>

			<label for="slogan">Company slogan:</label>
			<input type="text" name="slogan" ng-keydown="showButton=true" ng-model="company.info.slogan" placeholder="Brand name..." required>
			<br>
			<label >Company Location:</label>
           <br>
			<label for="street">Company address:</label>			
			<input type="text" name='street'  ng-keydown="showButton=true" ng-model="company.info.location.address.street" placeholder="Street Address...">

			<label for="suite">Company suite:</label>			
			<input type="text" name="suite"  ng-keydown="showButton=true" ng-model="company.info.location.address.suite" placeholder="Street Address..." >
		

			<label for="state">Company City:</label>			
			<input type="text" name="city"  ng-keydown="showButton=true" ng-model="company.info.location.city" placeholder="Street Address..." >

			<label for="state">Company State:</label>			
			<input type="text" name="state"  ng-keydown="showButton=true" ng-model="company.info.location.state" placeholder="Street Address..." >

			<label for="zipcode">Company zipcode:</label>			
			<input type="text" name="zipcode" ng-keydown="showButton=true" ng-model="company.info.location.zipcode" placeholder="Zipcode" >

				<br>
			<label ><b>Company Contact.</b></label>
           <br>


			<label for="tel">Company Telephone:</label>			
			<input type="text" name="tel" ng-keydown="showButton=true" ng-model="company.info.tel" placeholder="Tel" >

			<label for="fax">Company Fax:</label>			
			<input type="text" name="fax" ng-keydown="showButton=true" ng-model="company.info.fax" placeholder="Fax" >

			<label for="email">Company eMail:</label>			
			<input type="text" name="email" ng-keydown="showButton=true" ng-model="company.info.email" placeholder="eMail" >

			<br>
			<br>
			<button>Update</button>

		</form>

	</div>
</div>
