<div class="brands">
	<!-- <img src="../img/icons/BSG_logo.svg" alt=""> -->
	<div class="menu" ng-include src="'views/common/menu.html'">
	</div>
	<div class="form-new">
		<h2>Update User <i class="fa fa-star"></i></h2>
		<form id="" name="new_brand" ng-submit="save()">
			<label for="name">User name:</label>
			<input type="text" name="name" id="name" ng-keydown="showButton=true" ng-model="user.username" placeholder="Brand name..." required>
			<label for="name">User email:</label>
			<input type="text" name="name" id="name" ng-keydown="showButton=true" ng-model="user.email" placeholder="Brand name..." required>
			<label for="pass">Password: </label>
			<input type="password" id="pass" ng-model="user.password" ng-keydown="showButton=true" required>
			<button type="submit" ng-show="showButton"><i class="fa fa-plus-circle"></i> Update</button>
		</form>
	</div>
</div>
<script>
	
</script>